<h4>Resend unlock instructions</h4>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => {:method => :post}) do |f| %>
  <%= devise_error_messages! %>


  <fieldset>
    <ul>
      <li>
      <%= f.label :email %>
      <%= f.email_field :email, :placeholder => "your@email.com" %>
      <div class="hint">the email your registered your session under</div>
      </li>

    </ul>
  </fieldset>

  <fieldset>
    <ul>
      <li>
      <button type="submit">resend unlock instructions</button>
      </li>
    </ul>
  </fieldset>


<% end %>

<%= render :partial => "devise/shared/links" %>
