<h1>Listing sponsorship_levels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsorship_levels.each do |sponsorship_level| %>
  <tr>
    <td><%= sponsorship_level.name %></td>
    <td><%= sponsorship_level.description %></td>
    <td><%= link_to 'Show', sponsorship_level %></td>
    <td><%= link_to 'Edit', edit_sponsorship_level_path(sponsorship_level) %></td>
    <td><%= link_to 'Destroy', sponsorship_level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sponsorship level', new_sponsorship_level_path %>
