= f.inputs do
  = f.input :email, :as => :email, :input_html => { :readonly => true }, required: true
  = f.input :password
  = f.input :password_confirmation
  - if current_user.admin?
    = f.input :role, :as => :string, :input_html => { :readonly => true }, required: true
  - else
    = f.input :role, :as => :string, enabled: false, :input_html => { :readonly => true, style: "background-color: lightgrey" }, required: true
  = f.input :home_page, :as => :url
  = f.input :first_name, required: true
  = f.input :last_name, required: true
  = f.input :biography, required: true
  = f.input :speakerrate, :as => :url
  = f.input :twitter, :as => :url
  = f.input :permalink, :as => :string, :input_html => { :readonly => true }, required: true
= f.buttons
