= f.inputs do
  = f.input :email, :as => :email, :input_html => { :readonly => true } 
  -# = f.input :encrypted_password
  -# = f.input :reset_password_token
  -# = f.input :remember_token
  -# = f.input :remember_created_at
  -# = f.input :current_sign_in_at
  -# = f.input :last_sign_in_at
  -# = f.input :current_sign_in_ip
  -# = f.input :last_sign_in_ip
  = f.input :role, :as => :string, :input_html => { :readonly => true }
  = f.input :home_page, :as => :url
  = f.input :first_name
  = f.input :last_name
  = f.input :biography
  -# = f.input :avatar_file_name
  -# = f.input :avatar_content_type
  -# = f.input :avatar_file_size
  -# = f.input :avatar_updated_at
  -# = f.input :confirmation_token
  -# = f.input :confirmed_at
  -# = f.input :confirmation_sent_at
  -# = f.input :invitation_token
  -# = f.input :invitation_sent_at
  = f.input :speakerrate, :as => :url
  = f.input :twitter, :as => :url
  = f.input :permalink, :as => :string, :input_html => { :readonly => true }
= f.buttons

-# - if model.errors.any?
-#   - errors = @errors
-#   - errors.merge!(model.errors) unless model.blank?
-#   #error_explanation
-#     %h4
-#       = pluralize(errors.count, "error")
-#       prohibited this
-#       user from being saved:
-#     %ul
-#       - errors.full_messages.each do |msg|
-#         %li= msg
-# %fieldset
-#   %legend and a little bit about yourself...
-#   %ul
-#     %li
-#       = f.label :email, :class => "required"
-#       = f.email_field :email, :placeholder => "your@email.com"
-#       .hint the email address we can reach you at
-#     %li
-#       = f.label :first_name, :class => ""
-#       = f.text_field :first_name, :placeholder => "first name"
-#     %li
-#       = f.label :last_name, :class => ""
-#       = f.text_field :last_name, :placeholder => "last name"
-#     %li
-#       = f.label :home_page, :class => ""
-#       = f.url_field :home_page, :placeholder => "http://your.homepage.com"
-#       .hint this can be your blog, twitter, linkedin or personal homepage
-#     %li
-#       = f.label :biography, :class => ""
-#       = f.text_area :biography, :placeholder => "some biographical information"
-#       .hint your life story in 1K characters or less
-#     %li
-#       = f.label :twitter, :class => ""
-#       = f.text_field :twitter, :placeholder => "yourtwittername"
-#       .hint your twitter name if you'd like us to provide a link your twitter account
-#     %li
-#       = f.label :speakerrate, :class => ""
-#       = f.url_field :speakerrate, :placeholder => "http://speakerrate.com/0000-your-profile-name"
-#       .hint
-#         your speakerrate url if you'd like us to provide a link to encourage attendees to provide
-#         feedback
-#     %li
-#       = f.label :avatar, :accept => 'image/png,image/gif,image/jpeg', :class => "optional"
-#       = f.file_field :avatar
-#       .hint
-#         feel free to upload your profile picture along with your proposal but it's
-#         optional
-# %fieldset
-#   %ul
-#     %li
-#       %button#user_submit{:name => "commit", :type => "submit"} submit
