<div class="show">
  <h4>User Profile</h4>

  <div>
    <h3><%= "#{@user.last_name || "_"*8}, #{@user.first_name || "_"*8}" %></h3>
    <ul>
      <li>
      <span>Email</span>

      <div><%= mail_to @user.email %></div>
      </li>
      <li>
      <span>Home page</span>

      <div><%= @user.home_page || "_"*8 %></div>
      </li>
      <li>
      <span>Biography</span>

      <div><%= @user.biography || "_"*8 %></div>
      </li>

      <% if @user.twitter.present? %>
        <li>
        <span>twitter</span>
        <div><a href="http://twitter.com/<%= @user.twitter %>">http://twitter.com/<%= @user.twitter %></a></div>
        </li>
      <% end %>

      <% if @user.speakerrate.present? %>
        <li>
        <span>speakerrate</span>
        <div><a href="<%= @user.speakerrate %>"><%= @user.speakerrate %></a></div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="actions">
    <% if can? :update, @user %>
      <%= link_to "Edit", edit_user_path(@user) %>
    <% end %>
  </div>
</div>
