.show
  %h4 User Profile
  %div
    %h3= @user.full_name.try(:strip).present? ? @user.full_name.try(:strip) : @user.email
    %ul
      - if @user.full_name.try(:strip).present?
        %li
          %span email:
          %div= mail_to @user.email
      - if @user.home_page.try(:strip).present?
        %li
          %span home page:
          %div= @user.home_page
      - if @user.biography.try(:strip).present?
        %li
          %span biography:
          .long-text= @user.biography
      - if @user.twitter.try(:strip).present?
        %li
          %span twitter:
          %div
            %a{:href => "http://twitter.com/#{@user.twitter}"}
              http://twitter.com/#{@user.twitter}
      - if @user.speakerrate.try(:strip).present?
        %li
          %span speakerrate:
          %div
            %a{:href => @user.speakerrate}= @user.speakerrate
      - if @user.role == "speaker" && @user.try(:submissions)
        %li
          %span submissions:
          %ul
          - @user.submissions.each do |submission|
            %li= link_to submission.title, submission
  .actions
    - if can? :update, @user
      = link_to "Edit", edit_user_path(@user)
