%h4 Forgot your password?
= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|
  = devise_error_messages!

  - f.inputs do
    = f.input :email, :placeholder => "your@email.com"
    .hint the email your registered your session under
  - f.buttons do
    = f.commit_button :label => "send me reset password instructions"

= render :partial => "devise/shared/links"
