- rooms = @schedules.values.map {|k| k.map {|v| v.room.title if v.sesja}}.flatten!.compact!.uniq!.sort!
- time_slots = @schedules.map {|k| k.first }
!!!
%html
  %head
    %title Chicago Code Camp 2012 - May 19th
    %meta{:content => "Chicago Code Camp is a free, one day conference on Saturday May 19th for developers of all skill levels and interests with multiple sessions running side-by-side throughout the day.", :name => "description"}/
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag "printable", :media => "all"
    = csrf_meta_tag
  %body
    .logo
      - if Feature.ok? :image_logo
        = link_to image_tag("logo-horizontal.png", :border => 0), root_url
      - else
        = link_to "chicago code camp", root_url
    %table
      %thead
        %tr
          %th
          - time_slots.each do |time_slot|
            %th= time_slot
      %tbody
        - counter = 1
        - rooms.each do |r|
          - cls = counter % 2 == 0 ? 'even' : 'odd'
          %tr{:class => "#{cls}"}
            - counter = counter + 1
            %td.left-column= r
            - @schedules.each_pair do |key, value|
              - v = value.select {|s| s.room.title == r}.first
              - if v.nil?
                %td{:class => "#{cls}"}= raw("&nbsp;")
              - elsif v.sesja
                %td{:class => "#{cls}"}
                  .title= v.sesja.title
                  .speaker= "by #{v.sesja.user.full_name}"
              - else
                %td{:class => "#{cls} yellie"}= raw("&nbsp;")
