- model_name = display_name(model.class.to_s) if model
%fieldset.actions
  %legend= "Manage #{model_name}"
  %ul
    - if can?(:index, model)
      %li= link_to "Manage your #{model_name.pluralize}", polymorphic_path(model.class)
    - unless [:new].include? current_action
      - if can?(:create, model)
        %li= link_to "Create another #{model_name}", polymorphic_path(model.class, :action => "new")
    - unless [:new, :create, :index].include? current_action
      - if can?(:show, model)
        %li= link_to "View #{model_name}", polymorphic_path(model)
      - if can?(:update, model)
        %li= link_to "Edit this #{model_name}", polymorphic_path(model, :action => "edit")
      - if can?(:destroy, model)
        %li= link_to "Destroy this #{model_name}", model, :confirm => "Are you sure you wish to delete this #{model_name}?", :method => :delete
