<div class="aside authentication">
  <% if user_signed_in? %>
    <%= form_tag destroy_user_session_path do %>
      <h5>logged in as...</h5>

      <p><%= link_to current_user.email, user_path(current_user) %></p>
      <fieldset>
        <%= button "logout", destroy_user_session_path %>
      </fieldset>
    <% end %>
  <% else %>
    <%= form_for(User.new(:email => @email), :as => 'user', :url => session_path('user')) do |f| %>
      <h5>speaker login</h5>

      <p>Login to manage your sessions.</p>
      <fieldset>
        <ol>
          <li>
            <%= f.label :email, "email" %>
            <%= f.email_field :email, :placeholder => "your@email.com" %>
          </li>

          <li>
            <%= f.label :password, "password" %>
            <%= f.password_field :password %>
          </li>
        </ol>
      </fieldset>
      <fieldset class="buttons">
        <ol>
          <li>
            <button type="submit">login</button>
          </li>
          <%- if controller_name != 'passwords' %>
            <li><%= link_to "Forgot your password?", new_password_path('user') %></li>
          <% end -%>
        </ol>
      </fieldset>
    <% end %>
    <!--
    <%= form_for(User.new(:email => @email), :as => 'user', :url => registration_path('user')) do |f| %>
      <h5>Register</h5>
      <p>Register to get access to features as they become available and information available only to registered users.</p>
      <fieldset>
        <ol>
          <li>
          <%= f.label :email, "email" %>
          <%= f.email_field :email, :placeholder => "register@email.com" %>
          </li>

          <li>
          <%= f.label :password, "password" %>
          <%= f.password_field :password %>
          </li>

          <li>
          <%= f.label :password_confirmation, "password x2" %>
          <%= f.password_field :password_confirmation %>
          </li>
        </ol>
      </fieldset>
      <fieldset>
        <ol>
          <li>
          <button type="submit">register</button>
          </li>
        </ol>
      </fieldset>
    <% end %>
    -->
  <% end %>
</div>
