= semantic_form_for @sponsor, :html => { :multipart => true } do |f| 
  = f.inputs do
    = f.input :name
    = f.input :contact_name
    = f.input :description
    = f.input :home_page
    = f.input :email
    = f.input :sponsorship_level, :as => :select, :collection => SponsorshipLevel.all,
      :include_blank => true, :label_method => :name
    %li
      = f.label :logo
      = f.file_field :logo
  = f.buttons

-# <%= form_for @sponsor, :html => { :multipart => true } do |f| %>

-#   <div class="field">
-#     <%= f.label :name %><br />
-#     <%= f.text_field :name %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :contact_name %><br />
-#     <%= f.text_field :contact_name %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :description %><br />
-#     <%= f.text_area :description %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :home_page %><br />
-#     <%= f.text_field :home_page %>
-#   </div>
  
-#   <div class="field">
-#     <%= f.label :sponsorship_level %><br />
-#     <%= f.select(:sponsorship_level_id, SponsorshipLevel.all.collect {|s| [s.name, s.id] }) %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :email %><br />
-#     <%= f.text_field :email %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :logo %><br />
-#     <%= f.file_field :logo %>
-#   </div>

-#   <div class="actions">
-#     <%= f.submit %>
-#   </div>
-# <% end %>
