- show_level ||= false
.show
  %h3.any-case= link_to "#{sponsor.name}", sponsor
  %ul
    - if sponsor.logo.file?
      %li.details.sponsor-logo
        = image_tag sponsor.logo.url(:thumb)
    - if sponsor.description.blank?
      %li
        %hr.divider
    - else
      %li.details.description.long-text= sponsor.description
    - if show_level 
      %li.details.level
        %span sponsorship level:
        = sponsor.sponsorship_level.name 

    - if user_signed_in? && current_user.admin?
      .actions
        %ul
          %li= link_to 'Show', sponsor
          %li= link_to 'Edit', edit_sponsor_path(sponsor)
          %li= link_to 'Destroy', sponsor, :confirm => 'Are you sure you wish to delete this sponsor?', :method => :delete
