%h1 Sponsors
- level = ""
- @sponsors.each do |sponsor|
  %h2=h sponsor.level unless sponsor.level == level
  %h3
    %a{:id=>sponsor.name, :style=>"text-decoration: none; padding-left: 16px;"}= sponsor.name
  - level = sponsor.level 
  %hr.space
- if admin?
  %span= link_to 'Show', presentation
  %span= link_to 'Edit', edit_presentation_path(presentation)
  %span= link_to 'Destroy', presentation, :confirm => 'Are you sure?', :method => :delete
  %br/
  = link_to 'New presentation', new_presentation_path
