<%= form_for @submission, :html => {:multipart => true} do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this preregistration from being saved:</h2>

      <ul>
        <% @submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Session</legend>
    <ul>
      <li>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => "the working title for your presentation" %>
      </li>

      <li>
      <%= f.label :abstract %>
      <%= f.text_area :abstract, :placeholder => "a brief synopsis of the presentation and topic" %>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Biography</legend>
    <ul>
      <li>
      <%= f.label :email %>
      <%= f.email_field :email, :placeholder => "your@email.com" %>
      </li>

      <li>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :placeholder => "first name" %>
      </li>

      <li>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :placeholder => "last name" %></li>
      </li>

      <li>
      <%= f.label :home_page %>
      <%= f.url_field :home_page, :placeholder => "http://your.homepage.com" %></li>
      </li>

      <li>
      <%= f.label :biography %>
      <%= f.text_area :biography, :placeholder => "some biographical information" %>
      </li>

      <li>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <ul>
      <li><button type="submit" id="submission_submit" name="commit">submit</button></li>
    </ul>
  </fieldset>
<% end %>
