<%= form_for @submission, :html => {:multipart => true} do |f| %>
    <% if @submission.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@submission.errors.merge(@submission.user.errors).count, "error") %> prohibited this
            submission from being saved:</h4>

          <ul>
            <% @submission.errors.merge(@submission.user.errors).full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend>tell us about your proposal...</legend>
      <ul>
        <li>
          <%= f.label :title, :class => "required" %>
          <%= f.text_field :title, :placeholder => "the working title for your presentation" %>
          <div class="hint">the working title for your presentation</div>
        </li>

        <li>
          <%= f.label :abstract, "description", :class => "required" %>
          <%= f.text_area :abstract, :placeholder => "a brief synopsis of the presentation and topic" %>
          <div class="hint">describe your proposal in 1k characters or less</div>
        </li>
      </ul>
    </fieldset>
    <% unless user_signed_in? %>
        <%= fields_for @submission.user do |uf| %>
            <fieldset>
              <legend>and a little bit about yourself...</legend>
              <ul>
                <li>
                  <%= uf.label :email, :class => "required" %>
                  <%= uf.email_field :email, :placeholder => "your@email.com" %>
                  <div class="hint">the email address we can reach you at</div>
                </li>

                <li>
                  <%= uf.label :first_name, :class => "required" %>
                  <%= uf.text_field :first_name, :placeholder => "first name" %>
                </li>

                <li>
                  <%= uf.label :last_name, :class => "required" %>
                  <%= uf.text_field :last_name, :placeholder => "last name" %>
                </li>

                <li>
                  <%= uf.label :home_page, :class => "required" %>
                  <%= uf.url_field :home_page, :placeholder => "http://your.homepage.com" %>
                  <div class="hint">this can be your blog, twitter, linkedin or personal homepage</div>
                </li>

                <li>
                  <%= uf.label :biography, :class => "required" %>
                  <%= uf.text_area :biography, :placeholder => "some biographical information" %>
                  <div class="hint">your life story in 1K characters or less</div>
                </li>

                <li>
                  <%= uf.label :avatar, :accept => 'image/png,image/gif,image/jpeg', :class => "optional" %>
                  <%= uf.file_field :avatar %>
                  <div class="hint">feel free to upload your profile picture along with your proposal but it's
                    optional
                  </div>
                </li>
              </ul>
            </fieldset>
        <% end %>
    <% end %>
    <fieldset>
      <ul>
        <li>
          <button type="submit" id="submission_submit" name="commit">submit</button>
        </li>
      </ul>
    </fieldset>
<% end %>
