<%= simple_form_for @submission do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% @submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Session</legend>
    <%= f.input :title, :placeholder => "the working title for you presentation" %>
    <%= f.input :abstract, :placeholder => "a brief synopsis of the presentation and topic" %>
  </fieldset>
  <fieldset>
    <legend>Biography</legend>
    <%= f.input :email, :placeholder => "your@email.com" %>
    <%= f.input :first_name, :placeholder => "first name" %>
    <%= f.input :last_name, :placeholder => "last name" %>
    <%= f.input :home_page, :placeholder => "http://your.homepage.com" %>
    <%= f.input :biography, :placeholder => "some biographical information" %>
  </fieldset>
  <fieldset>
    <%= f.button :submit %>
  </fieldset>
<% end %>
