<h4>Current submissions</h4>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% @submissions.visible.each do |submission| %>
      <tr>
        <td><%= submission.title %></td>
        <td><%= submission.abstract %></td>
        <td><%= submission.user.first_name unless submission.user.blank? %></td>
        <td><%= submission.user.last_name unless submission.user.blank? %></td>
        <td><%= submission.user.email unless submission.user.blank? %></td>
        <td>
          <ul>
            <li><%= link_to 'Show', submission %></li>
            <li><%= link_to 'Edit', edit_submission_path(submission) %></li>
            <li><%= link_to 'Destroy', submission, :confirm => 'Are you sure you wish to delete this submission?', :method => :delete %></li>
          </ul>
        </td>
      </tr>
  <% end %>
</table>
<%= render :partial => "shared/actions", :locals => {:model => Submission.new, :current_action => :index} %>
