<div class="show">
  <h4>Session Proposal</h4>
  <div>
    <h3>"<%= @submission.title %>"</h3>
    <ul>
      <li>
      <span>Description</span>
      <div><%= @submission.abstract %></div>
      </li>
    </ul>
  </div>
  <div>
    <h3>by: <%= "#{@submission.last_name || "_"*8}, #{@submission.first_name || "_"*8}" %></h3>
    <ul>
      <li>
      <span>Email</span>
      <div><%= mail_to @submission.email || "_"*8 %></div>
      </li>
      <li>
      <span>Home page</span>
      <div><%= @submission.home_page || "_"*8 %></div>
      </li>
      <li>
      <span>Biography</span>
      <div><%= @submission.biography || "_"*8 %></div>
      </li>
      <% unless @submission.avatar.blank? || @submission.avatar.url =~ /missing/ %>
        <li>
        <span>Avatar</span>
        <div><%= image_tag @submission.avatar.url %></div>  
        </li>
      <% end %>
    </ul>
  </div>
  <div class="actions">
    <% if can? :index, @submission %>
      <%= link_to "List your submissions", submissions_path %>
      <span class="seperator">|</span>
    <% end %>
    <% if can? :update, @submission %>
      <%= link_to "Edit this submission", edit_submission_path(@submission) %>
    <% end %>
  </div>
</div>
