<div class="show">
  <div>
    <h3><span>Session Proposal:</span> "<%= @submission.title %>"</h3>
    <ul>
      <li>
        <span>Description</span>

        <div><%= @submission.abstract %></div>
      </li>
    </ul>
  </div>
  <div id="session-speaker">
    <h3><span>by:</span> <%= "#{@submission.user.last_name || "_"*8}, #{@submission.user.first_name || "_"*8}" %></h3>
    <ul>
      <li>
        <span>Email</span>

        <div><%= mail_to @submission.user.email || "_"*8 %></div>
      </li>
      <li>
        <span>Home page</span>

        <div><%= @submission.user.home_page || "_"*8 %></div>
      </li>
      <li>
        <span>Biography</span>

        <div><%= @submission.user.biography || "_"*8 %></div>
      </li>
      <% unless @submission.user.avatar.blank? || @submission.user.avatar.url =~ /missing/ %>
          <li>
            <s
            pan>Avatar</span>
              <div><%= image_tag @submission.user.avatar.url %></div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render :partial => "shared/actions", :locals => {:model => @submission, :current_action => :show} %>
