<div class="show-proposal">
  <h1>Session Proposal</h1>
  <div>
    <h3>"<%= @submission.title %>"</h3>
    <ul>
      <li>
      <span>Description</span>
      <div><%= @submission.abstract %></div>
      </li>
    </ul>
  </div>
  <div>
    <h3>by: <%= "#{@submission.last_name}, #{@submission.first_name}" %></h3>
    <ul>
      <li>
      <span>Email</span>
      <div><%= mail_to @submission.email %></div>
      </li>
      <li>
      <span>Home page</span>
      <div><%= @submission.home_page %></div>
      </li>
      <li>
      <span>Biography</span>
      <div><%= @submission.biography %></div>
      </li>
      <% unless @submission.avatar.blank? || @submission.avatar.url =~ /missing/ %>
        <li>
        <span>Avatar</span>
        <div><%= image_tag @submission.avatar.url %></div>  
        </li>
      <% end %>
    </ul>
  </div>
</div>
