<% if can? :destroy, @submission %>
  <%= link_to "Destroy", destroy_submission_path(@submission), :method => :delete, :confirm => "Are you sure?" %>
  <br>
<% end %>

<% if can? :update, @submission %>
  <%= link_to "Edit", edit_submission_path(@submission) %>
  <br>
<% end %>
<%= link_to "All submissions", submissions_path %>

<div class="show">
  <h1>Session Proposal</h1>
  <div>
    <h3>"<%= @submission.title %>"</h3>
    <ul>
      <li>
      <span>Description</span>
      <div><%= @submission.abstract %></div>
      </li>
    </ul>
  </div>
  <div>
    <h3>by: <%= "#{@submission.last_name}, #{@submission.first_name}" %></h3>
    <ul>
      <li>
      <span>Email</span>
      <div><%= mail_to @submission.email %></div>
      </li>
      <li>
      <span>Home page</span>
      <div><%= @submission.home_page %></div>
      </li>
      <li>
      <span>Biography</span>
      <div><%= @submission.biography %></div>
      </li>
      <% unless @submission.avatar.blank? || @submission.avatar.url =~ /missing/ %>
        <li>
        <span>Avatar</span>
        <div><%= image_tag @submission.avatar.url %></div>  
        </li>
      <% end %>
    </ul>
  </div>
</div>
