%h4.section-title session lineup 
- if user_signed_in? && current_user.admin?
  %p= pluralize @sesjas.displayable.count, 'session'
  %p= pluralize @sesjas.displayable.select('distinct user_id').count, 'speaker'
.lineup
  = render :partial => "sesja", :collection => @sesjas.displayable

- if user_signed_in? && current_user.admin?
  = render :partial => "shared/actions", :locals => {:model => Sesja.new, :current_action => :index}

- content_for :javascript do
  :javascript
    SEARCH_PLACEHOLDER_TEXT = "type to filter by title";
  = javascript_include_tag "index"
