.show
  %div
    %h3= @sesja.title
    %ul
      %li
        %span description:
        .long-text= @sesja.abstract
      %li
        %span level:
        = %w(introductory intermediate advanced)[@sesja.level-1]
      - if @sesja.keywords.try(:strip).present?
        %li
          %span keywords:
          %div= @sesja.keywords
  .session-speaker
    - unless @sesja.user.full_name.blank?
      proposed by #{link_to @sesja.user.full_name, user_path(@sesja.user)}

- if user_signed_in? && (current_user.admin? || current_user.speaker?)
  = render :partial => "shared/actions", :locals => {:model => @sesja, :current_action => :show}
