%h4.section-title session description
= render :partial => "sesjas/sesja", :locals => {:sesja => @sesja}

- if Feature.ok? :comments
  #comments
    %ul.comments-list
      - @sesja.comments.each do |comment|
        %li
          /
            = comment.id
          %span.email= comment.email.split('@').first
          = comment.comment

    - semantic_form_for [@sesja, @comment || @sesja.comments.build] do |f|
      = f.semantic_errors
      = f.inputs do
        = f.input :comment, :rows => 3
        = f.input :email
      = f.buttons

  -# - content_for :javascript do
  -#   :javascript
  -#     $('button').live('click', function () {
  -#       alert('le clicke');
  -#       $(this).parents('form:first').submit();
  -#       return false;
  -#     });

-#- if user_signed_in? && current_user.admin?
  -#= render :partial => "shared/actions", :locals => {:model => @sesja, :current_action => :show}

- if user_signed_in? && current_user.speaker?
  %fieldset.actions
    %legend= "Manage #{@sesja.title}"
    %ul
      - if can?(:update, Sesja)
        %li= link_to "Edit", edit_sesja_path(@sesja)

      -#- if can?(:update, Sesja)
        -#%li= link_to "Edit this #{sesja.title}", polymorphic_path(Sesja, :action => "edit")

      -#- if can?(:destroy, Sesja)
        -#%li= link_to "Destroy this #{sesja.title}", model, :confirm => "Are you sure you wish to delete this #{sesja.title}?", :method => :delete
