%link{:href => "http://fonts.googleapis.com/css?family=Syncopate", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
%h1{:style => "color:#a60400;font-family:'Syncopate',Verdana,Geneva,sans-serif;"} Chicago Code Camp 2011
%h3{:style => "color:#a60400;font-family:'Syncopate',Verdana,Geneva,sans-serif;"} Grayslake, IL - May 14th,2011
%h2{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;font-weight:bold;"}
  Dear #{"#{@resource.first_name}" unless @resource.first_name.blank?}
  ,
%p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;"}
  Chicago Code Camp is a success because of the great
  content by speaker's like you! We'd love to have you join us again. If you are interested in possibly presenting this
  year, we invite you to submit a proposal using our online submission form at #{link_to root_url, root_url}.
  %p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;"}
    This year Chicago Code Camp will be held May 14th at
    the College of Lake County in Grayslake, IL. As always, we are a free event for developer's of all skill-levels and
    interests. All sessions are welcome from introductory to advanced topics.
  %p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;"}
    To save your time we've streamlined the speaker
    registration process for you. Just click on
    your #{link_to 'invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)}
    and your account will be automagically generated.
  %p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;"}
    If you don't want to accept the invitation, please
    ignore this email. Your account won't be created until you access the link above and set your password.
  %p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;font-weight:bold;"} Looking forward to your proposal,
  %p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;color:#a60400;"} The Chicago Code Camp Team
  %p{:style => "font-family:Ubuntu,Tahoma,Arial,Helvetica,sans-serif;"}= link_to "Chicago Code Camp 2011", root_url
