<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Code Camp 2011</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header-ribbon"><span class="logo">chicago code camp</span></div>
    <div id="container">
      <div id="header">
        <div class="blurb">Chicago Code Camp - May 14th, 2011 - Greyslake, IL</div>
      </div>
      <% unless notice.blank? and alert.blank? %>
        <div id="messages">
          <% unless notice.blank? %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% unless alert.blank? %>
            <p class="alert"><%= alert %></p>
          <% end %>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= render :partial => "shared/notifications" %>
        <%= render :partial => "shared/location" %>
      </div>
    </div>
    <%= render :partial => "shared/google_font_loader" %>
  </body>
</html>
