!!!
%html
  %head
    /[if IE 6]
      = stylesheet_link_tag 'formtastic_ie6'
    /[if IE 7]
      = stylesheet_link_tag 'formtastic_ie7'
    %title Chicago Code Camp 2012 - May 19th
    %meta{:content => "Chicago Code Camp is a free, one day conference on Saturday May 19th, for developers of all skill levels and interests with multiple sessions running side-by-side throughout the day.", :name => "description"}/
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag "application", "formtastic", "formtastic_changes"
    - if display_diagnostic_stylesheet?
      = stylesheet_link_tag "diagnostic"
    = csrf_meta_tag
    %meta{:content => "W6MJO_iqsa4NviIyyrHJCyNNJqm2murQyeyacwi0h4g", :name => "google-site-verification"}/
    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      = stylesheet_link_tag "ie"
    = yield :controller_stylesheets
  %body#home
    #container
      #header
        .header-container
          .logo
            - if Feature.ok? :image_logo
              = link_to image_tag("logo-horizontal.png", :border => 0), root_url
            - else
              = link_to "chicago code camp", root_url
          .blurb
            Saturday, May 19th,  2012 - Grayslake, IL
        .nav
          %ul
            -#TODO once we have speakers and things to navigate then home will become relevant again.
            %li= link_to "home", root_url
            -# TODO re-enable this link once the actual registration is enabled.
            %li
              %a.highlight{:href => "http://chicagocodecamp2012.eventbrite.com?ref=elink"} register


            -# TODO once we start to setup the schedule and speakers then start to re-enable these
            -#%li= link_to "schedule", schedules_path
            %li= link_to "sessions", sesjas_path
            %li= link_to "speakers", speakers_path
            %li= link_to "sponsors", sponsors_path
            %li= link_to "FAQ", "/faq"

            - if user_signed_in?
              %li= link_to "profile", edit_user_path(current_user)
            -# TODO renable once we have some news to post.
            -#%li= link_to "more info", "/more-info"
      - unless notice.blank? and alert.blank?
        #messages
          - unless notice.blank?
            %p.notice= notice
          - unless alert.blank?
            %p.alert= alert
      #content
        = yield

      #sidebar
        = render :partial => "shared/register"
        = render :partial => "shared/blurb"
        - if Feature.ok? :preregistrations
          = render :partial => "shared/preregistrations"
        = render :partial => "shared/location"
        = render :partial => "shared/authentication"
        -#= render :partial => "shared/github"
      #footer
        %ul
          %li
            %a{ :href => "http://github.com/chicagocodecamp/ccs", :target => "_blank"} ccs
            is designed &amp; developed by
            %a{ :href => "http://about.me/michaeldhall", :target => "_blank"} michael d. hall
            aka
            %a{ :href => "http://twitter.com/just3ws", :target => "_blank"} just3ws
          %li
            logo by
            %a{ :href => "http://xamlgirl.wordpress.com/", :target => "_blank"} jane ashley
            aka
            %a{ :href => "http://twitter.com/xamlgirl", :target => "_blank"} xamlgirl
          %li
            go to the
            = link_to "/admin"
            section
      - if Rails.env == 'development'
        = render :partial => "shared/color_proof"
    = javascript_include_tag :defaults
    = yield :javascript
    = render :partial => "shared/google_analytics"
